<!--
#Листинг 4.6: Home-страница без индивидуального заголовка страницы. ЗЕЛЕНЫЙ app/views/static_pages/home.html.erb
Листинг 5.2: Home-страница со ссылкой на страницу регистрации. app/views/static_pages/home.html.erb Листинг 11.35: Добавление формы для создания микросообщений на Home-страницу (/). app/views/static_pages/home.html.erb Листинг 11.47: Добавление ленты сообщений к Home-странице. app/views/static_pages/home.html.erb 
-->
 June_15 19:46  -b ch12

<h1></h1>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
 <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>



<% else %>
    
<div class="center jumbotron">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>
~/shrouded-peak-05345 (old ch10_account2_activation dec03_21-36   secure-thicket-97142)<p>
</p>
<%= link_to image_tag("241084701.gif", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
<% end %>

