
<!-- Листинг 7.19: Партиал для отображения сообщений об ошибках отправки формы. app/views/shared/_error_messages.html.erbЛистинг 11.39: Сообщение об ошибке, которое работает с любыми объектами. КРАСНЫЙ app/views/shared/_error_messages.html.erb  
-->

<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

