// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

### 10 line  
// Active Admin's got SASS! 
@import "active_admin/mixins";
@import "active_admin/base";
@import "select2";
@import "select2-bootstrap";
@import "js_tree/default/style.css";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.select2-container {
  min-width: 150px;
}
